.btn, .card, .page-item {
    border-radius: 0;
}

a:not(.navbar-brand):not(.nav-link) {
    color: black;
    border-bottom: 1px solid #000;
    text-transform: uppercase;
}

a:not(.navbar-brand):not(.nav-link):hover {
    text-decoration: none;
    color: #6b9430;
}