.btn, .card, .page-item, .modal-content, .nav-link {
    border-radius: 0;
}

a:not(.navbar-brand):not(.nav-link) {
    color: black;
}

a:not(.navbar-brand):not(.nav-link):hover {
    color: #6b9430;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.bg-light {
    filter: brightness(95%);
}