{% load static %}

<!-- Primary Meta Tags -->
<title>Halcyon Wanderers</title>
<meta name="title" content="Halcyon Wanderers">
<meta name="description"
      content="Website of the FFXIV Leviathan based free company, Halcyon Wanderers. Apply, chat, and game with us!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://imehi.me/">
<meta property="og:title" content="Halcyon Wanderers">
<meta property="og:description"
      content="Website of the FFXIV Leviathan based free company, Halcyon Wanderers. Apply, chat, and game with us!">
<meta property="og:image" content="{% static 'android-icon-192x192.png' %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://imehi.me/">
<meta property="twitter:title" content="Halcyon Wanderers">
<meta property="twitter:description"
      content="Website of the FFXIV Leviathan based free company, Halcyon Wanderers. Apply, chat, and game with us!">
<meta property="twitter:image" content="{% static 'android-icon-192x192.png' %}">
