<!-- Primary Meta Tags -->
<title>Halcyon Wanderers - {{ event.title }}</title>
<meta name="title" content="Halcyon Wanderers - {{ event.title }}">
<meta name="description"
      content="{{ event.description }} at {{ event.event_date }} EST">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% url 'detail' event.slug event.id %}">
<meta property="og:title" content="Halcyon Wanderers - {{ event.title }}">
<meta property="og:description"
      content="{{ event.description }} at {{ event.event_date }} EST">
<meta property="og:image" content="{{ event.image.url }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{% url 'detail' event.slug event.id %}">
<meta property="twitter:title" content="Halcyon Wanderers - {{ event.title }}">
<meta property="twitter:description"
      content="{{ event.description }} at {{ event.event_date }} EST">
<meta property="twitter:image" content="{{ event.image.url }}">
